.blog-wrapper {
    display: flex; 
    flex-direction: column;
    align-items: center;
}


.blog {
  padding-bottom: 60px;

  flex-grow:1; 
  display:flex; 
  flex-direction: column; 
  justify-content: center;
}

.header {
  width: 100%;

  > .container {
    display: flex;
  }

  a {
    color: $text-color;
    text-decoration: none;
    font-size: 36px;
  }

  nav {
    margin-left: auto;
    a {
      display: inline-block;
    }
  }
}

main {
  width: 100%;
}