.navbar {
  padding-left: 0;
  padding-right: 0;
  background-color: $background-color;

  a {
    color: $text-color;
    text-decoration: none;
  }

  .header__logo {
    font-size: 1.5em;
    font-weight: bold;
  }

  .header__side {
    margin-right: 5px;
  }

  box-shadow: 0 0 3px #bbb;
  position: sticky;
  top: 0;
  z-index: 999;
}