<div class="entries">
    {{#each articles }}
        <article class="entry">
            <header class="entry__header">
                <div class="entry__header__title">
                    
                    <h2><a href="{{ path }}">{{ title }}</a></h2>
                </div><!-- .entry-header-wrap -->
                <div class="entry__header__meta">
                    by <span class="post-author">{{ author }}</span> on <time class="published" datetime="2017-01-18">{{ date }}</time>
                </div><!-- .entry-meta -->
            </header>
            <main class="entry__content">
                {{{ excerpt }}}
                <p class="read-more"><a href="{{ path }}" class="more-link" title="read more">read more</a></p>
            </main>
            <footer class="entry__footer">
                <div class="tag-links">
                    Tags: 
                    {{#each tags}}
                    <a rel="tag">{{ . }} </a>
                    {{/each}}
                </div>
            </footer>
        </article>
    {{/each}}
</div>