<article class="entry">
    <header class="entry__header">
        <div class="entry__header__title">
            <h2>{{ title }}</h2>
        </div><!-- .entry-header-wrap -->
        <div class="entry__header__meta">
            <time class="published">{{ date }}</time> - {{ timeToRead }} read.
        </div><!-- .entry-meta -->
    </header>
    <main class="entry__content">
        {{{ contents }}}
    </main>
    <footer class="entry__footer">
        <div class="tag-links">
            Tags: 
            {{#each tags}}
            <a rel="tag">{{ . }} </a>
            {{/each}}
        </div>
    </footer>
    {{> comments }}
</article>