      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"></script>
    <script>

        /*var messages = [
            "Hi<br>",
            "Hi<br><span>I'm <strong>Frederik</strong>, a passionate <strong>JavaScript</strong> developer.</span>",
            "Hi<br><span>I'm <strong>Frederik</strong>, an <strong>Angular, Webpack</strong> and <strong>RxJS</strong> enthousiast.</span>",
            "Hi<br><span>I'm <strong>Frederik</strong>, a <strong>coach</strong>.</span>",
            "Hi<br><span>I'm <strong>Frederik</strong>, an <strong>open-source</strong> lover.</span>"
        ];
        var typed = new Typed(".typed-placeholder", {
            typeSpeed: 30,
            strings: messages,
            smartBackspace: true
        });*/
    </script>
    </body>  
</html>