      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-8">
              <span>© 2018 Frederik Prijck</span>
            </div>
            <div class="col-4">
                <div class="pull-right">
                  <a href="https://twitter.com/frederikprijck">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/frederikprijck">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </footer>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29378163-7"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-29378163-7');
      </script>
      </body>
</html>