      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <span>© 2018 Frederik Prijck</span>
            </div>
            <div class="col-6">
                <div class="pull-right">
                  <a href="https://twitter.com/frederikprijck">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/frederikprijck">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </footer>
    </body>  
</html>