<nav class="navbar">
  <div class="container justify-content-between flex-md-row">
    <div class="header__logo">
      <a href="/">Frederik Prijck</a>
    </div>
    <div class="header__side">
    </div>
  </div>
</nav>