.a-button {
    font-size: 12px;
    letter-spacing: 1;
    padding: 8px 15px;
    font-weight: bold;
    text-decoration: none !important;
    text-transform: uppercase;

    &.a-button--primary {
        background-color: $secondary-color;
        color: #fff;

        &:hover {
            background-color: $primary-color;
          }
    }
}