.a-input {
    padding: 10px;
}

.a-input-group {
    display: flex;
    margin-bottom: 20px;

    .a-input-group__item {
        flex-grow: 1;
        &:not(:last-of-type) {
            margin-right: 20px;
        }
    }
}