@import 'partials/variables';
@import 'partials/articles';
@import 'partials/splash';

html, body { height: 100%; }

body {
    background-color: $background-color;
    color: #818181;
    line-height: 1.66667;
    margin: 0;
    padding: 0;
    font-family:  'Lato', Calibri, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
